#title {
    font-weight: bold;
    margin-bottom: 60px;
}

#main {
    border: 5px solid whitesmoke;
    border-radius: 20px;
    background-color: whitesmoke;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    padding-inline: 30px;
}

body {
    background-color: rgb(39, 39, 39);
    line-height: 100vh;  
    text-align: center;
}