a {
    text-decoration: none;
}

#maingloballogo {
    color: green;
    font-size: 30vh;
}

#mainctlinfo {
    font-size: 5vh;
    font-family: 'Roboto';
}

#main {
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
}

#mainsearchcaptures {
    text-align: center;
    margin-top: 50px;
}

#mainsearchbutton {
    background-color: #607d8b;
}

#mainsearchdate {
    border: 2px solid #607d8b;
    border-radius: 3px;
}

.mainsearchctl {
    margin-inline: 30px;
    margin-top: 20px;
}

#maincaptures {
    display: flex;
    margin-top: 50px;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    align-content: center;
    justify-content: center;
}

.capture-image.mdl-card {
    width: 256px;
    height: 256px;
    margin: 20px;
    background: url('picsou.jpeg') center / cover;
  }

.capture-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.capture-image__filename {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

#mainsettings {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

#maincaptureserror {
    color: rgb(49, 49, 49);
    font-size: 20px;
    font-family: 'Roboto';
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 2px;
    width: 40%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 15px;
    display: none;
}

#maincaptureserroricon {
    margin-right: 20px;
    margin-top: 10px;
}

#maincapturenotfoundicon {
    font-size: 20vh;
}

#maincapturenotfoundtext {
    font-size: 30px;
    margin-top: 30px;
}

#maincapturenotfound {
    text-align: center;
    font-family: 'Roboto';
}

#mainsettingsbutton {
    margin-bottom: 50px;
}

.mainsettingstitle {
    margin-right: 50px;
}

#maincontainer {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 100vh;  
    text-align: center;
}

.mainmenuitems {
    text-align: left;
}

.mainsettingstextarea {
    margin-right: 30px;
}

.mainctlbuttons {
    margin-inline: 10vh;
    margin-top: 5vh;
    width: 100px;
}

#mainsecctl {
    display: block;
}

#mainseccaptures {
    display: none;
}

#mainsecsettings {
    display: none;
}